*{
    margin: 0;
    padding: 0;
}

h3{
    width: 250px;
    height: 100px;
    background-color: red;
    transition:all 1s;
    transform:translate(-500px);


}

.current h3{
    transform:translate(200px,200px);
}